/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer-icon {
  font-size: 35px;
  color: #c52b30;
}

.content-container {
  background-color: #f9f9f9;
  padding: 10px;
}

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 100%;
  z-index: 10;
}

.post-title {
  text-align: center;
  font-size: 1.8rem;
  margin: 20px 0;
  color: #444;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/***** User Details *****/
.user-details {
  display: flex;
  overflow: hidden;
  height: 40px;

  gap: 15px;
  margin: 16px 16px 0;
  // background-color: lightgrey;
  border-radius: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #c52b30;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 40px; /* Align text vertically with image */
}

p.username {
  margin-top: 10px;
}

/***** Post Image and Details *****/
.post-container {
  margin-top: 15px;
}

.post-image {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-details {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.post-details h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.post-details p {
  font-size: 14px;
  color: #666;
}

/***** Product List Styling *****/
.product-list {
  margin-top: 20px;
  margin-bottom: 6rem;
}

.product-list h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #444;
}

ion-item {
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

ion-label h2 {
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

ion-label p {
  font-size: 16px;
  font-weight: 400;
  color: red;
}
