<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Italiana&display=swap"
    rel="stylesheet"
  />
  <ion-toolbar class="custom-header">
    <ion-title class="header-title">LOCALLY</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="header-icon" name="cart-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="header-icon" name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Cart Items -->
  <div *ngFor="let item of cart; let i = index" class="cart-item">
    <div class="item-info">
      <h3>{{ item.name }}</h3>
      <!-- <p>Brand: {{ item.brand }}</p> -->
      <p class="price">Rp. {{ item.price | number }}</p>
    </div>
    <div class="item-actions">
      <ion-checkbox
        mode="md"
        [(ngModel)]="item.selected"
        color="primary"
        (ionChange)="onSelectionChange()"
      ></ion-checkbox>
      <ion-button (click)="removeFromCart(i)" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>

    <!-- <div class="item-quantity">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <span>{{ item.quantity }}</span>
      <ion-icon name="add-circle-outline"></ion-icon>
    </div> -->
    <!-- <ion-button size="small" fill="clear" class="chat-button">
      Chat <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-button> -->
  </div>

  <!-- Total Summary -->
  <div class="summary">
    <p>Ongkos kirim dan asuransi</p>
    <p>Rp 30,000</p>
    <p>SUBTOTAL</p>
    <p>Rp{{ subtotal | number }}</p>
  </div>

  <!-- Action Buttons -->
  <div class="action-buttons">
    <ion-button
      expand="block"
      color="danger"
      (click)="proceedToPayment()"
      routerlink="/checkout"
      >Lanjut ke Pembayaran</ion-button
    >
    <ion-button expand="block" fill="outline" color="danger" routerLink="/home"
      >Lanjut Belanja</ion-button
    >
  </div>

  <!-- Footer -->
  <div class="footer">
    <ion-icon
      class="footer-icon"
      name="home-outline"
      routerLink="/home"
    ></ion-icon>
    <ion-icon
      class="footer-icon"
      name="search-outline"
      routerLink="/product"
    ></ion-icon>
    <ion-icon
      class="footer-icon"
      name="add-circle-outline"
      routerLink="/createpost"
    ></ion-icon>
    <ion-icon
      class="footer-icon"
      name="heart-outline"
      routerLink="/bag"
    ></ion-icon>
    <ion-icon
      class="footer-icon"
      name="person-outline"
      routerLink="/profile"
    ></ion-icon>
  </div>
</ion-content>
