/* Header */
ion-toolbar {
  padding: 20px 0;
}

.custom-header {
  height: 80px;
  background-color: white;
}

.header-title {
  text-align: center;
  font-family: "Italiana", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 5px;
}

.header-icon {
  font-size: 35px;
  color: #c52b30;
  margin-top: 15px;
}

/* Footer */
.footer {
  z-index: 10;
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer-icon {
  font-size: 35px;
  color: #c52b30;
}

/* Cart Item Styles */
.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 16px;
}

.item-info h3 {
  font-size: 16px;
  margin: 0;
}

.item-info p {
  font-size: 14px;
  color: #555;
  margin: 4px 0;
}

.price {
  color: #c62e32;
  font-weight: bold;
}

.item-actions {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.item-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item-quantity ion-icon {
  font-size: 20px;
  color: #c62e32;
}

.chat-button {
  margin-top: 8px;
  font-size: 14px;
  --color: #555;
}

/* Summary Styles */
.summary {
  margin: 16px;
  border-top: 1px solid #ddd;
  padding-top: 16px;
  font-size: 14px;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.summary p:last-child {
  font-size: 16px;
  font-weight: bold;
  color: #c62e32;
}

/* Action Buttons */
.action-buttons {
  margin: 16px;
  margin-bottom: 6rem;
}

.action-buttons ion-button {
  border-radius: 50px;
  margin-bottom: 8px;
}
