<ion-header collapse="condense">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Italiana&display=swap"
    rel="stylesheet"
  />
</ion-header>

<ion-content>
  <div class="container">
    <!-- Logo -->
    <div class="logo-text">LOCALLY</div>

    <!-- Formulir login -->
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="submitlogin()">
      <div class="form-group">
        <!-- Email Input -->
        <div class="form-input-group">
          <input
            type="email"
            id="email"
            class="form-input"
            placeholder="Email"
            name="email"
            [(ngModel)]="data.email"
            required
          />
        </div>

        <!-- Password Input -->
        <div class="form-input-group">
          <input
            type="password"
            id="password"
            class="form-input"
            placeholder="Password"
            name="password"
            [(ngModel)]="data.password"
            required
          />
        </div>
      </div>

      <!-- Tombol Login -->
      <button type="submit" class="login-button" [disabled]="!loginForm.valid">
        LOGIN
      </button>

      <!-- Tombol Registrasi -->
      <button
        type="button"
        class="register-button"
        (click)="navigateToRegister()"
      >
        REGISTRASI
      </button>
    </form>

    <div class="login-link">
      <p>
        Masuk tanpa login?
        <span (click)="goToHome()" class="login-text">Lanjut</span>
      </p>
    </div>
  </div>
</ion-content>
