ion-header {
  --background: black;
}

ion-content {
  --background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 384px;
  width: 100%;
}

.logo-text {
  text-align: center;
  font-family: Italiana, sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: black;
  margin-top: 200px;
  margin-bottom: 200px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input-group {
  width: 100%;
}

.form-input {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  color: black;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
  width: 100%;
  padding: 20px; /* Menambah padding untuk memberi ruang lebih besar */
  box-shadow: none;
  height: 70px; /* Mengatur tinggi kolom input agar lebih panjang */
}

.form-input::placeholder {
  font-weight: normal; /* Menghilangkan bold pada placeholder */
  color: #b2b2b2; /* Opsional, menyesuaikan warna placeholder jika diperlukan */
}

.login-button {
  background-color: #c62e32; /* Warna merah */
  color: whitesmoke;
  font-size: 22px;
  font-weight: 510;
  border-radius: 4px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ff6b6b; /* Merah muda terang saat hover */
}

.register-button {
  background-color: transparent;
  color: #c62e32; /* Warna merah untuk teks */
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #c62e32; /* Garis merah */
  border-radius: 4px;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #c62e32; /* Merah saat hover */
  color: white; /* Teks putih saat hover */
}

.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link p {
  font-size: 14px;
  color: #666;
}

.login-text {
  color: #d32f2f;
  font-weight: bold;
  cursor: pointer;
}
