/* Explorer Grid */
.explorer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolom */
    gap: 4px;
    padding: 8px;
  }
  
  .explorer-item {
    position: relative;
    overflow: hidden;
  }
  
  .explorer-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  /* Footer Navigation */
  ion-footer ion-toolbar {
    border-top: 1px solid #ddd;
    --background: #fff;
  }
  
  ion-footer ion-toolbar ion-button {
    --color: #C62E32;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
  }
  
  .footer-icon {
    font-size: 35px;
    color: #c52b30;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }
    