<ion-header>
  <ion-toolbar>
    <ion-title>Explorer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Search Bar -->
    <div class="search-container">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <input type="text" placeholder="Search" class="search-input" />
    </div>
  <!-- Explorer Grid -->
  <div class="explorer-grid">
    <div class="explorer-item" *ngFor="let post of posts">
      <img [src]="post.image" alt="Outfit Image" />
    </div>
  </div>

  <div class="footer">
    <ion-icon class="footer-icon" name="home-outline" routerLink="/home"></ion-icon>
    <ion-icon class="footer-icon" name="search-outline" routerLink="/product"></ion-icon>
    <ion-icon class="footer-icon" name="add-circle-outline" ></ion-icon>
    <ion-icon class="footer-icon" name="heart-outline" routerLink="/product"></ion-icon>
    <ion-icon class="footer-icon" name="person-outline" routerLink="/profile"></ion-icon>
  </div>
</ion-content>

