/* Header */
ion-toolbar {
  padding: 20px 0;
}

.custom-header {
  height: 80px;
  background-color: white;
}

.header-title {
  text-align: center;
  font-family: "Italiana", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 5px;
}

.header-icon {
  font-size: 35px;
  color: #c52b30;
  margin-top: 15px;
}

/* Infinite Scroll */
ion-infinite-scroll {
  padding: 15px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer-icon {
  font-size: 35px;
  color: #c52b30;
}

.instagram-feed {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Membuat grid dengan 4 kolom dengan lebar yang sama */
  grid-gap: 2px;
}

.post-container {
  position: relative;
  width: 100%;
  padding-top: 125%;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.highlight-left {
  grid-column: span 1;
  grid-row: span 2;
}

.highlight-right {
  grid-column: span 1;
  grid-row: span 2;
}

.highlight-left .product-image,
.highlight-right .product-image {
  height: 100%;
}
