/* Sticky Container for Header and Tabs */
.sticky-header-container {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff; /* Ensure background is white */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for separation */
  }
  
  /* Toolbar Styling */
  ion-toolbar {
    --background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Title Styling */
  .title {
    color: #C62E32;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Tab Menu Styling */
  .tab-menu {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional for better visibility */
  }
  
  /* Footer Toolbar */
  ion-footer ion-toolbar {
    border-top: 1px solid #ddd;
    --background: #fff;
  }
  
  /* Product Card Styling */
  .product-card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-title {
    font-size: 12px;
    font-weight: bold;
    color: black;
  }
  
  .product-brand {
    font-size: 10px;
    color: #979797;
  }
  
  .product-price {
    font-size: 12px;
    font-weight: bold;
    color: #C62E32;
  }
  
  /* Footer Navigation */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding: 10px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-icon {
  font-size: 35px;
  color: #c52b30;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.footer-icon:hover {
  color: #900000; /* Warna saat ikon di-hover */
}
