<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back" routerLink="/home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ product?.name }}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Product Image Slider -->
  <div class="custom-slider">
    <img *ngIf="product?.thumbnail" [src]="product?.thumbnail" alt="{{ product?.name }}">
  </div>

  <!-- Add to Bag Button -->
  <div class="add-to-bag-container">
    <ion-button expand="block" class="add-to-bag-button" color="danger">Add to Bag</ion-button>
  </div>

  <!-- Product Info -->
  <div class="product-info">
    <h2>{{ product?.name }}</h2>
    <p>{{ product?.brand }}</p>
    <p>{{ product?.price | currency }}</p>
  </div>
</ion-content>
