/* Header */
ion-toolbar {
  padding: 20px 0;
}

.custom-header {
  height: 80px;
  background-color: white;
}

.header-title {
  text-align: center;
  font-family: "Italiana", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 5px;
}

.header-icon {
  font-size: 35px;
  color: #c52b30;
  margin-top: 15px;
}

/* Produk */
/* Produk */
.product-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.product-image {
  width: 100%;
  padding-top: 100%; /* Ini memastikan rasio gambar kotak */
  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
}

.product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Produk - Nama dan Harga */
.product-details {
  padding: 15px;
  text-align: left; /* Rata kiri untuk nama dan harga */
}

.product-name {
  font-size: 12px;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 12px;
  color: #c52b30;
  font-weight: 600;
  margin-top: 10px;
  text-align: left; /* Rata kiri untuk harga */
}

/* Infinite Scroll */
ion-infinite-scroll {
  padding: 15px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer-icon {
  font-size: 35px;
  color: #c52b30;
}

/* Grid */
ion-grid {
  padding: 10px;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  padding: 5px;
}

// tambahan
.special-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  background: linear-gradient(135deg, #c52b30, #ff6b6b);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 16px;
}

.post-image {
  width: 100%;
  position: relative;
}

.post-image img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.post-products {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-product-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5%;
  overflow: hidden;
}

.post-product-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.post-product-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.post-product-details {
  flex-grow: 1;
}

.post-product-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.post-product-price {
  font-size: 12px;
  color: white;
  margin: 0;
}
