<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Italiana&display=swap"
    rel="stylesheet"
  />
  <ion-toolbar class="custom-header">
    <ion-title class="header-title">LOCALLY</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="header-icon" name="cart-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="header-icon" name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="product-list">
    <ion-grid>
      <ion-row>
        <ng-container *ngFor="let product of products; let i = index">
          <!-- Produk Biasa -->
          <ion-col size="6" *ngIf="!isSpecialRow(i)">
            <div class="product-item" [routerLink]="['/detail', product.id]">
              <div class="product-image">
                <img [src]="product.thumbnail" alt="{{ product.name }}" />
              </div>
              <div class="product-details">
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-price">
                  {{ product.price | currency: 'Rp': true:'1.0-0' }}
                </p>
              </div>
            </div>
          </ion-col>

          <!-- Special Column -->
          <ion-col size="12" *ngIf="isSpecialRow(i)">
            <div class="special-column" *ngIf="posts.length > 0">
              <!-- Gambar Post -->
              <div
                class="post-image"
                [routerLink]="['/detailexplor', posts[((i + 1) / 7)-1]?.id]"
              >
                <img
                  [src]="posts[((i + 1) / 7)-1]?.image_url"
                  alt="Special Post"
                />
              </div>

              <!-- Produk dari Post -->
              <div
                class="post-products"
                *ngFor="let postProduct of productsFromPosts[((i + 1) / 7)-1]"
              >
                <div
                  class="post-product-item"
                  [routerLink]="['/detail', postProduct.id]"
                >
                  <div class="post-product-image">
                    <img
                      [src]="postProduct.image_product"
                      alt="{{ postProduct.name }}"
                    />
                  </div>
                  <div class="post-product-details">
                    <h4 class="post-product-name">{{ postProduct.name }}</h4>
                    <p class="post-product-price">
                      {{ postProduct.price | currency: 'Rp': true:'1.0-0' }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="footer">
    <ion-icon
      class="footer-icon"
      name="home-outline"
      routerLink="/home"
    ></ion-icon>
    <ion-icon
      class="footer-icon"
      name="search-outline"
      routerLink="/product"
    ></ion-icon>
    <ion-icon
      class="footer-icon"
      name="add-circle-outline"
      routerLink="/createpost"
    ></ion-icon>
    <ion-icon
      class="footer-icon"
      name="heart-outline"
      routerLink="/bag"
    ></ion-icon>
    <ion-icon
      class="footer-icon"
      name="person-outline"
      routerLink="/profile"
    ></ion-icon>
  </div>
</ion-content>
